<!DOCTYPE html>
<html lang="en"
>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/searchBarScript.js"></script>

    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <title>imdBG</title>
</head>
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <!--      <a class="navbar-brand" href="#"><img id="MDB-logo"-->
            <!--                                            src="" alt=""-->
            <!--                                            draggable="false" height="30" /></a>-->



            <!-- Collapsible wrapper -->
            <div class="navbar-1" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav-1">
                    <li class="nav-item">
                        <a class="ipc-btn nav-link active d-flex align-items-center me-lg-3" aria-current="page" href="#"><i
                                class="fas fa-bars pe-2"></i>Menu</a>
                    </li>
                </ul>
                <!-- Left links -->

                <form class="d-flex align-items-center w-100 form-search">
                    <div id="input-group" class="input-group">
                        <input type="search" id="search" class="form-control border-end-0" oninput="updateSearchBar()" placeholder="Search" aria-label="Search" />
                        <button id="suggestion-search-button" type="submit" aria-label="Submit Search" class="form-control align-self-end max-width-fit-content"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ipc-icon ipc-icon--magnify" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg></button>
                    </div>

                </form>

                <ul class="navbar-nav-1 ms-3">
                    <li class="nav-item">
                        <a class="ipc-btn nav-link d-flex align-items-center" href="#!">
                            <svg width="24" height="20" xmlns="http://www.w3.org/2000/svg" class="ipc-icon ipc-icon--watchlist ipc-btn__icon ipc-btn__icon--pre" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M17 3c1.05 0 1.918.82 1.994 1.851L19 5v16l-7-3-7 3V5c0-1.05.82-1.918 1.851-1.994L7 3h10zm-4 4h-2v3H8v2h3v3h2v-3h3v-2h-3V7z" fill="currentColor"></path></svg>
                            Watchlist
                        </a>
                    </li>
                    <li class="nav-item" style="width: 65px;">
                        <a class="ipc-btn nav-link d-flex align-items-center" href="#!">Sign In</a>
                    </li>
                </ul>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>

<body>

</body>
</html>


