<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/commons::head}">
</head>
<header th:replace="~{fragments/commons::header}">
</header>
<body>

<main class="container mt-5 d-flex gap-5 flex-column">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>User options</h1>
        <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
            <a th:href="@{/admin/users/all}"><button class="btn py-2 sing-in-buttons">View all users</button></a>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center gap-1">
        <h1>Title Fetch options</h1>
        <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
            <a th:href="@{/admin/fetchIMDB/lists}"><button class="btn py-2 sing-in-buttons">Fetch IMDB Title Lists</button></a>
        </div>
        <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
            <a th:href="@{/admin/fetchIMDB/single}"><button class="btn py-2 sing-in-buttons">Fetch a Single IMDB Title</button></a>
        </div>
        <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
            <a th:href="@{/admin/fetchIMDB/pages}"><button class="btn py-2 sing-in-buttons">Fetch a Page Out Of The Search Results</button></a>
        </div>

    </div>
    <div class="d-flex flex-column justify-content-center align-items-center gap-1">
        <h1>Update Options</h1>
        <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
            <a th:href="@{/admin/fetchIMDB/updates}"><button class="btn py-2 sing-in-buttons">Update IMDB Rankings</button></a>
        </div>
        <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
            <a th:href="@{/admin/fetchIMDB/updates/single}"><button class="btn py-2 sing-in-buttons">Update Single Title By Id</button></a>
        </div>

    </div>
</main>

</body>
</html>