<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/commons::head}">
</head>
<header th:replace="~{fragments/commons::header}">
</header>
<body>
<!--index-->

<!--<a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>-->
<!--<a sec:authorize="isAnonymous()" th:href="@{/register}">Register</a>-->

<!--<form sec:authorize="isAuthenticated()"  method="POST" th:action="@{/logout}"  class="form-inline my-2 my-lg-0 border px-3">-->
<!--    <div class="logged-user">Welcome, <th:block sec:authentication="name"></th:block></div>-->
<!--    <button type="submit" name="submit" value="value" class="nav-link bg-transparent border-0">Logout</button>-->
<!--</form>-->

<main class="container mt-3">

    <section th:if="${fourMostPopular.size() > 0}" class="mb-lg-5 mb-sm-3">
        <div class="d-flex gap-3">

            <div  id="trailer-top-div-index-page" class=" position-relative">
                <iframe id="trailer-top-embed" class="rounded" th:src="@{'https://www.imdb.com/video/embed/' + ${fourMostPopular.get(0).getMainTrailerURLVideoImdbId()}}" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="100%" width="100%" allowfullscreen></iframe>
                <a id="trailer-top-href" th:href="@{/video/{id}(id=${fourMostPopular.get(0).getMainTrailerURLVideoImdbId()})}">
                    <div class="trailer1">
                        <div class="trailerPoster1 rounded d-flex justify-content-center align-items-center gap-3">
                            <img id="trailer-top-img" width="150px" class="rounded" th:src="${fourMostPopular.get(0).getMainPosterURLPhotoUrl()}" alt="">

                            <div id="trailer-top-text" class="d-flex flex-column align-self-end">
                                <h3 id="trailer-top-title" class="text-white" th:text="${fourMostPopular.get(0).title}"></h3>
                                <h4 class="text-light">Watch the trailer</h4>
                            </div>
                        </div>
                    </div>
                </a>
                <p id="trailer-top-videoId" class="d-none" th:text="${fourMostPopular.get(0).getMainTrailerURLVideoImdbId()}"></p>
            </div>

            <div class=" d-lg-flex flex-lg-column w-25 gap-3 display-none-under-1000px">
                <div th:each="title : ${fourMostPopular}" onclick="updateTopTrailer(this)" class="d-flex gap-3 item1 p-1">
                    <img width="100px" th:src="${title.getMainPosterURLPhotoUrl()}" alt="">
                    <div class="d-flex flex-column align-items-center justify-content-center" th:text="${title.title}"></div>
                    <p class="d-none" th:text="${title.getMainTrailerURLVideoImdbId()}"></p>
                </div>
            </div>
        </div>
    </section>



    <section th:if="${topRatedCarouselViewDTOs.size() > 17}" class="mb-lg-5 mb-sm-3">
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-touch="true" data-bs-interval="false" data-bs-ride="carousel">
            <h3 class="sectionHeading1">Today's Top Picks</h3>
            <div class="carousel-inner">
                <div th:replace="~{fragments/card :: carouselItem-6 (${topRatedCarouselViewDTOs})}">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>
    </section>

    <section th:if="${top24OnImdbThisWeekCarouselViewDTOs.size() > 23}" class="mb-lg-5 mb-sm-3">
        <div id="carouselExampleControls1" class="carousel carousel-dark slide" data-touch="true" data-bs-interval="false" data-bs-ride="carousel">
            <h3>Top 24 on IMDb this week</h3>
            <div class="carousel-inner">
                <div th:replace="~{fragments/card :: carouselItem-6 (${top24OnImdbThisWeekCarouselViewDTOs})}">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>
    </section>

<!--    <section th:if="${top24OnImdbThisWeekCarouselViewDTOs.size() > 0}" class="mb-lg-5 mb-sm-3">-->
<!--        <div id="carouselExampleControls2">-->
<!--            <h3>Fan favorites</h3>-->
<!--            <div class="">-->
<!--                <div th:replace="~{fragments/card :: items-6 (${mostPopularOnThisSiteCarouselViewDTOs})}">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->


</main>



<script src="/js/topTrailersScript.js"></script>
<script src="/js/watchlistScripts.js"></script>


</body>
</html>


<!--<section>-->
<!--    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-touch="true" data-bs-interval="false" data-bs-ride="carousel">-->
<!--        <h3>Today's Top Picks</h3>-->
<!--        <div class="carousel-inner">-->
<!--            <div class="carousel-item active">-->
<!--                <div  class="card-wrapper container-sm d-flex  justify-content-between p-0">-->
<!--                    <div th:each="item : ${top250ImdbRatedTitles.subList(0, 6)}" class="card  " style="width: 12rem;">-->
<!--                        <img th:src="${item.getMainPosterURLPhotoUrl()}" class="card-img-top" alt="...">-->
<!--                        <div class="card-body p-1">-->
<!--                            <div class="d-flex align-items-center">-->
<!--                                <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" class="ipc-icon ipc-icon&#45;&#45;star-inline color1" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z"></path></svg>-->
<!--                                <p class="m-0" th:text="${item.imdbRating}">Card title</p>-->
<!--                            </div>-->
<!--                            <p class="card-title overflow-hidden m-0 cardTitle1" th:text="${item.title}">Card title</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-center">-->
<!--                            <form class="w-100 d-flex justify-content-center"-->
<!--                                  method="POST" th:action="@{/watchlist}">-->
<!--                                <button type="submit" name="submit" value="value" class="border-0 rounded w-75 d-flex justify-content-center align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ipc-icon ipc-icon&#45;&#45;add ipc-btn__icon ipc-btn__icon&#45;&#45;pre" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"></path></svg> Watchlist</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-center mt-1">-->
<!--                            <div class="d-flex align-items-center justify-content-center">-->
<!--                                <a th:href="@{/video/{id}(id=${item.getMainTrailerURLVideoImdbId()})}"-->
<!--                                   class="d-flex align-items-center justify-content-center text-decoration-none text-black">-->
<!--                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ipc-icon ipc-icon&#45;&#45;play-arrow ipc-btn__icon ipc-btn__icon&#45;&#45;pre" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18a1 1 0 0 0 0-1.69L9.54 5.98A.998.998 0 0 0 8 6.82z"></path></svg>-->
<!--                                    Trailer-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div th:each="i : ${#numbers.sequence(1, 2)}" class="carousel-item">-->
<!--                <div class="card-wrapper container-sm d-flex   justify-content-between p-0">-->
<!--                    <div th:each="item : ${top250ImdbRatedTitles.subList(i * 6, i * 6 + 6)}" class="card  " style="width: 12rem;">-->
<!--                        <img th:src="${item.getMainPosterURLPhotoUrl()}" class="card-img-top" alt="...">-->
<!--                        <div class="card-body p-1">-->
<!--                            <div class="d-flex align-items-center">-->
<!--                                <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" class="ipc-icon ipc-icon&#45;&#45;star-inline color1" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z"></path></svg>-->
<!--                                <p class="m-0" th:text="${item.imdbRating}">Card title</p>-->
<!--                            </div>-->
<!--                            <p class="card-title overflow-hidden m-0 cardTitle1" th:text="${item.title}">Card title</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-center">-->
<!--                            <form class="w-100 d-flex justify-content-center"-->
<!--                                  method="POST" th:action="@{/watchlist}">-->
<!--                                <button type="submit" name="submit" value="value" class="border-0 rounded w-75 d-flex justify-content-center align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ipc-icon ipc-icon&#45;&#45;add ipc-btn__icon ipc-btn__icon&#45;&#45;pre" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"></path></svg> Watchlist</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-center mt-1">-->
<!--                            <div class="d-flex align-items-center justify-content-center">-->
<!--                                <a th:href="@{/video/{id}(id=${item.getMainTrailerURLVideoImdbId()})}"-->
<!--                                   class="d-flex align-items-center justify-content-center text-decoration-none text-black">-->
<!--                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ipc-icon ipc-icon&#45;&#45;play-arrow ipc-btn__icon ipc-btn__icon&#45;&#45;pre" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18a1 1 0 0 0 0-1.69L9.54 5.98A.998.998 0 0 0 8 6.82z"></path></svg>-->
<!--                                    Trailer-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">-->
<!--                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                <span class="visually-hidden">Previous</span>-->
<!--            </button>-->
<!--            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">-->
<!--                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                <span class="visually-hidden">Next</span>-->
<!--            </button>-->

<!--        </div>-->
<!--    </div>-->
<!--</section>-->